<template name="postItem">
	<div class="panel panel-default">
		<div class="panel-body">
				{{{formatText text}}}
				<br>
				<a href="{{pathFor 'userPosts'}}">{{username}}</a>
				-
				<a href="{{pathFor 'singlePost'}}">{{formatDate createdAt "long"}}</a>
				{{#if isOwner}}
		      <a href="#" class="deletePost btn btn-danger btn-xs pull-right">Delete</a>

		      <label class="togglePrivate pull-right">
		        <input type="checkbox" checked="{{private}}" />
		        Private
		      </label>
				{{/if}}

		</div>
	</div>
</template>
