<template name="postsHome">
  <div class="row">
    <div class="col-md-12">
      {{#if ifUser}}
        <form class="addPostForm">
          <textarea class="addPostText form-control" name="text"></textarea>
          <button type="submit" class="addPostSubmit btn btn-success" style="width: 100%">Post!</button>
        </form>
        <hr>


        <div class="posts page">
          {{#each posts}}
            {{>postItem}}
          {{/each}}
        </div>
        {{#if postsFound}}
          <br>
          <br>
        {{/if}}
      {{else}}
        <div class="panel panel-default">
      		<div class="panel-body">
            <h3 class="page-header text-center">Instant Social</h3>

            <h4 class="text-center">It's soooo fast</h4>

            <p class="text-center">Please login or signup to get started!</p>
          </div>
        </div>


      {{/if}}

    </div>
  </div>
</template>
